* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;

    #container {
        max-width: 900px;
        margin: 0 auto;
        background: #fefefe;
        // border-radius: 8px;
        // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        padding: 10px;


        a {
            text-decoration: none;
        }

        h1 {
            margin: 10px auto;
            color: #ff4081;
            animation: pulse 1.5s infinite;
            cursor: pointer;
            font-size: 32px;
        }

        h3 {
            margin: 10px;
            color: #009688;
            animation: pulsex 1.5s infinite;
            cursor: pointer;
            font-size: 28px;


        }

        div.group {
            p.ct {
                font-weight: 500;
                font-size: 22px;
                color: white;
                margin-bottom: 10px;
                display: inline-block;
                padding: 10px 20px;
                background-color: #ff4081;
                border-radius: 50px;
                // width: 340px;


            }
        }















        p.ngay {
            font-size: 24px;
            color: #2e7d32; // xanh lá
            margin-bottom: 10px;
            font-weight: 500;

        }





        .formWrap {
            // padding: 20px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            overflow: hidden;
            transition: all .1s;
            border-radius: 10px;



            form {
                padding: 10px;

                textarea {
                    width: 100%;
                    padding: 10px;
                    height: 200px;
                    font-size: 18px;
                    resize: none;
                    border-radius: 5px;
                    border: 1px solid #e91e63;
                    color: #e91e63;
                }
            }
        }

        // button {
        //     margin-top: 10px;
        //     background: #ff4081;
        //     color: white;
        //     padding: 12px 30px;
        //     border: none;
        //     border-radius: 25px;
        //     font-size: 16px;
        //     cursor: pointer;
        //     transition: 0.3s ease;

        //     &:hover {
        //         background: #e91e63;
        //     }

        //     &:disabled {
        //         background: #009688;
        //         color: white;
        //         cursor: not-allowed;
        //         animation: pulse 1s infinite;


        //     }
        // }
        .quay-btn {
            padding: 10px 20px;
            font-size: 20px;
            background-color: #009688;
            color: white;
            border: none;
            border-radius: 8px;
            // display: inline-flex;
            // align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 20px auto;
        }

        .quay-btn:hover:enabled {
            background-color: #45a049;
        }

        .quay-btn:disabled {
            background-color: #ff4081;
            cursor: not-allowed;
            animation: pulseX2 1s infinite;
            font-size: 20px;
            width: 60px;
            height: 60px;
            position: relative;
            border-radius: 50%;





            .spinner {
                width: 30px;
                height: 30px;
                border: 3px solid #fff;
                border-top: 3px solid #4CAF50;
                /* xanh lá đậm cho rõ */
                border-radius: 50%;
                animation: spin 1s linear infinite;
                // display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); //sao vô giữa
            }
        }


        .content {
            // padding: 10px;
            padding-bottom: 100px;

            h4 {
                margin-bottom: 20px;
                font-size: 26px;
                color: #009688;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                font-size: 18px;
                margin-top: 10px;

                th,
                td {
                    padding: 10px;
                    font-weight: 500;
                }

                th {
                    background-color: #ffebee;
                }

                tr:nth-child(even) {
                    background-color: #f9f9f9;
                }

                tr:hover {
                    // background-color: #fff3f5;
                }
            }


        }

        .ketQuaWrap {
            display: flex;
            justify-content: center;
            margin: 30px auto;


            .ketQuaCard {
                background: #fdfdfd;
                padding: 20px;
                border-radius: 16px;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
                text-align: center;
                min-width: 400px;
                animation: fadeIn 2s ease;


                .ketQuaTitle {
                    font-size: 28px;
                    font-weight: bold;
                    color: #2e7d32; // xanh lá
                    margin-bottom: 10px;
                }

                .ketQuaTen {
                    font-size: 30px;
                    font-weight: bold;
                    color: #ff4081; // đỏ đậm
                }


                .soDienThoai {
                    color: #ff4081;
                    // text-decoration: none;
                    font-size: 24px;
                    margin-left: 4px;
                    transition: color 0.3s;



                }


                .ngay {
                    font-size: 24px;
                    color: #2e7d32; // xanh lá
                    margin-bottom: 10px;
                    font-weight: 500;
                }

                input {
                    margin-top: 4px;
                    outline: none;
                    font-size: 18px;
                    font-weight: 500;
                    color: #ff4081;
                    text-align: center;
                    border: 1px solid transparent;
                    background-color: transparent;
                    display: inline-block;

                    &::placeholder {
                        color: silver;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}




// Hiệu ứng tiêu đề
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulsex {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes pulseX2 {
    0% {
        transform: scale(1.4);
    }


    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(2);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}